html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande";
	height:100%;
	background:black;
	color:white;
}

a {color: #0080FF;border-color: #0080FF;}
a:hover {color: #40A0FF;border-color: #40A0FF;}

* {word-wrap: break-word;}

#history,
#history li {
	/* Darken slightly */
	background: #222;
	border-color: #222;
}

#history {border-bottom:1px solid #444;margin-bottom:3px;}
#history+#current {border-top:1px solid #444;padding-top:1px;}
#history:empty+#current {border-top:none;padding-top:1px;}

ul {list-style:none;margin:0;padding:0;}

li {
	clear: both;
	margin: -1px 0 0 0;
	padding: 0.3em 8px 0.3em 0.5em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background:black;
	position: relative;
	-webkit-transition-property: color, background-color, border;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
}

li span {
/*	display:inline-block;*/
	vertical-align:top;
}

.star {float:right;}

.parens:empty {display:none;}
.parens:before {content:"(";}
.parens:after {content:")";}

.contents {display:block;margin-left:4.4em;padding-left:4px;position:relative;}
.contents i {font-style:normal;padding-left:5px;margin-left:10em;display:block;}

.contents>.nick, .contents>.nick2 {cursor:pointer;}
.contents>.gutter {float:left;width:10em;text-align:right;overflow:hidden;text-overflow: ellipsis;white-space:nowrap;}

.time {font-size:.8em;margin-top:.2em;text-align:right;width:5.5em;vertical-align:middle;float:left;color: #666;}
.time:empty {display:none;}
.time:empty+.contents {margin-left:0;}


li.msgNick .contents:before {content:"\02022";position:absolute;left:4px;color:#0C0;}
li.msgJoin .contents:before {content:"\02192";position:absolute;left:4px;color:#0C0;}

li.msgPart .contents:before,
li.msgKick .contents:before,
li.msgQuitReason.incoming .contents:before,
li.msgQuit.incoming .contents:before {content:"\02190";position:absolute;left:4px;color:#E00;}
                                    


li.msgMessage .nick:after {content:":";}


body .mode, body .topic, .nick, .nick2 {font-weight: bold;}


/* ========================================================================== */
/* STAR BUTTON                                                                */
/* ========================================================================== */

.star,
.star .hit,
.star .button {
  /* Remove extra linebreaks for copy & plain-text pasting */
  display: -webkit-inline-box;
}

.star,
.star .hit {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 300;
  
  right: 0;
  width: 10px;
}

.star {
  overflow: hidden;
  top: -1px;
}

.star .hit {
  z-index: 302;
  
  left: 3px;
  right: 0;
  
  cursor: pointer;
  border-left: 1px solid;
  border-color: #fff;
  opacity: 0.15;
}

.star .button {
  position: absolute;
  top: 2px;
  bottom: 1px;
  z-index: 301;
  
  right: -5px;
  -webkit-transition: right 0.1s ease-out;
  
  width: 4px;
  
  border: 1px solid;
  border-right: none;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  background: #3F6700;
  border-color: #73BB00;
}

.starred .star .button {
  right: 0;
}

.star-hover,
.star-hover {
  z-index: 220 !important;
}

.star-hover,
.star-hover {
  background-color: #3F6700 !important;
  border-color: #629F00 !important;
}

.star-hover > div * {
  color: #7BC700 !important;
}

.star-hover > div a {
  border-color: #7BC700 !important;
}



/* ========================================================================== */
/* COLORIZING                                                                 */
/* ========================================================================== */



.system {color: #555;}

body li.system .nick,
body .mode,
body .topic,
body li.msgKick .nick2 {
	color: #666;
}

li.incoming .nick {
	color: #0080FF;
}

li.msgMessage.outgoing .nick,
li.msgNotice.outgoing .nick,
li.msgNotice.outgoing .contents {
	color: #FF8000;
}

li.msgMessage.outgoing .contents,
li.msgMessage.incoming .contents,
li.msgAction.incoming .contents {
	color: #fff;
}

li.msgMessage.incoming .contents,
li.msgAction.incoming .contents {
	color: #aaa;
}

li.msgAction.outgoing .nick,
li.msgAction.outgoing .contents {
	color: #B52CF6;
}

li.msgNoticeAuth .contents,
li.msgNotice.incoming,
li.msgNotice.incoming .nick {
	color: #f00;
}

li.msgNotice.incoming {
	background: #400;
	border-color: #811;
}

li.msgRaw {
	color: #777;
	background: #222;
	border-color: #444;
}

#history li.msgRaw {
	background: #333;
	border-color: #555;
}

li.highlight {
	background-color: #362C00 !important;
	border-color: #988C00;
	z-index:191;
}

.highlight .contents {
	color: #ccc !important;
}



.incoming .nick {
	color: #0080FF;
}

li.msgMessage.outgoing .nick,
li.msgNotice.outgoing .nick,
li.msgNotice.outgoing .contents {
	color: #FF8000;
}

li.msgMessage.outgoing .contents,
li.msgMessage.incoming .contents,
li.msgAction.incoming .contents {
	color: #fff;
}

li.msgMessage.incoming .contents,
li.msgAction.incoming .contents {
	color: #aaa;
}

li.msgAction.outgoing .nick,
li.msgAction.outgoing .contents {
	color: #B52CF6;
}

li.msgNoticeAuth .contents,
li.msgNotice.incoming,
li.msgNotice.incoming .nick {
	color: #f00;
}

li.msgNotice.incoming {
	background: #400;
	border-color: #811;
	z-index:191;
}

li.msgRaw {
	color: #777;
	background: #222;
	border-color: #444;
	z-index: 190;
}

#history li.msgRaw {
	background: #333;
	border-color: #555;
}

li.highlight {
	background-color: #362C00 !important;
	border-color: #988C00;
}

li.highlight .contents {
	color: #ccc !important;
}

/* ========================================================================== */
/* SPOTLIGHT                                                                  */
/* ========================================================================== */

li.msgMessage.spotlight,
li.msgAction.spotlight,
li.msgNotice.spotlight {
  z-index: 200 !important;
  background: #0A2E4F !important;
  border-color: #0F4677 !important;
}

.highlight.spotlight .contents {
  color: #0080FF !important;
}



/* ========================================================================== */
/* NICK COLORS                                                                */
/* ========================================================================== */

li.usercolor-1 .nick { color: #0080ff; }
li.usercolor-2 .nick { color: #00DF00; }
li.usercolor-3 .nick { color: #ff0080; }
li.usercolor-4 .nick { color: #dd00ff; }
li.usercolor-5 .nick { color: #76E0BD; }
li.usercolor-6 .nick { color: #7F4FFF; }
li.usercolor-7 .nick { color: #8BC100; }
li.usercolor-8 .nick { color: #cc66ff; }
li.usercolor-9 .nick { color: #F53E35; }
li.usercolor-10 .nick { color: #6F42BC; }
li.usercolor-11 .nick { color: #008080; }
li.usercolor-12 .nick { color: #904000; }
li.usercolor-13 .nick { color: #808000; }
li.usercolor-14 .nick { color: #4ABFD1; }
li.usercolor-15 .nick { color: #3333dd; }
li.usercolor-16 .nick { color: #C19C46; }
li.usercolor-17 .nick { color: #0057DA; }
li.usercolor-18 .nick { color: #008000; }
li.usercolor-19 .nick { color: #608040; }
li.usercolor-20 .nick { color: #ff6fcf; }


/* ========================================================================== */
/* BREAK LINE                                                                 */
/* ========================================================================== */

li.break {
  z-index: 295;
  border-bottom: 1px dashed #444;
  margin-bottom:1px;
  -webkit-transition: 0.2s linear;
}

/* ========================================================================== */
/* MODAL OVERLAY                                                              */
/* ========================================================================== */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.modal-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  background: #fff;
  opacity: 0.25;
}

.modal-center {
  position: absolute;
  z-index: 1002;
  display: table;
  height: 100%;
  width: 100%;
}

.modal-center > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.modal-center > div > span {
  display: inline-block;
  font-size: 10px;
  padding: 0.3em;
  font-weight: 700;
  border: 1px solid;
  -webkit-border-radius: 8px;
  color: #000;
  background: #aaa;
  border-color: #777;
}

#overlay a {
  cursor: pointer;
  color: #000;
  border-bottom-color: #000;
}

#overlay a:hover {
  color: #333;
  border-bottom-color: #333;
}